<div class="container-fluid">
  <mdb-card class="m-4">
    <mdb-card-header>
      <h2>All Tags</h2>
    </mdb-card-header>
    <mdb-card-body>
      <section>
        <!-- Grid row -->
        <div class="row m-4">
          <!-- Grid column -->
          <div class="col-md-3 mb-4" *ngFor="let tag of gdService.SubCategoriesTags; let i = index">
            <!-- Card -->
            <button mdbBtn style="border-radius: 50%; width: 160px; max-width: 160px" type="button" color="deep-purple"
                    mdbWavesEffect>
              #{{tag.name}}</button>
            <!-- Card -->
          </div>
          <!-- Grid column -->


          <!-- Card -->

          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
    </mdb-card-body>
  </mdb-card>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#9344d4d"
  type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">
    Loading...
  </p>
</ngx-spinner>
