<mat-sidenav-container class="sidenav-container">


  <mat-sidenav #drawer id="drawer" class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               position="end"
               [mode]="(isHandset$ | async) ? 'over' : 'push'"
  >
    <mat-toolbar>
      <mat-toolbar-row>
        <mat-icon (click)="drawer.close()">close</mat-icon>
        <a mat-button color="primary" class="ml-2 nav-link h5" style="font-family: 'Anton', sans-serif"
           routerLink="/">
          Global Market
        </a>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar color="accent">


      <mat-toolbar-row *ngIf="!gdService.IsAuthenticated()">
        <button (click)="drawer.close()" *ngIf="!gdService.IsAuthenticated()"
                mat-button routerLink="/auth/login">
          Login <i class="fas fa-sign-in-alt"></i>
        </button>
        <div *ngIf="!gdService.IsAuthenticated()" class="vl ml-2"></div>
        <button (click)="drawer.close()" class="ml-2" *ngIf="!gdService.IsAuthenticated()"
                mat-button routerLink="/auth/register">
          Register <i class="far fa-user-circle"></i>
        </button>
      </mat-toolbar-row>
      <mat-toolbar-row *ngIf="gdService.IsAuthenticated()" class="bg-danger">
        <button [mat-menu-trigger-for]="smallDeviceMenu"
                mat-button style="width: 100%">
          <span>{{gdService.Username}}</span>
          <span>
          <i class="fas fa-angle-down ml-3"></i>
          </span>
        </button>
        <mat-menu overlapTrigger #smallDeviceMenu>
          <button (click)="drawer.close()" mat-menu-item routerLink="/user-profile">
            Profile
          </button>
          <button (click)="drawer.close()" mat-menu-item routerLink="/orders">
            Orders
          </button>
          <button (click)="drawer.close()" mat-menu-item routerLink="/invoices">
            Invoices
          </button>
          <button (click)="drawer.close(); gdService.userLogout()" mat-menu-item>
            Logout <i class="fas fa-sign-out-alt"></i>
          </button>
        </mat-menu>
      </mat-toolbar-row>
      <mat-toolbar-row class="bg-primary">
        <button *ngIf="gdService.IsAuthenticated()" (click)="drawer.close()" routerLink="/cart" mat-button>
          Cart <i class="fas fa-cart-arrow-down"></i>
        </button>
        <div *ngIf="gdService.IsAuthenticated()" class="vl ml-2"></div>
        <button (click)="drawer.close();" routerLink="/shop" mat-button>
          Shop Now <i class="fab fa-shopify"></i>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <app-sidebar [sidenav]="drawer" [isHandset$]="isHandset$"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav id="sidenav" mode="push" position="start" #sidenav *ngIf="!(isHandset$ | async)"
               class="sidenav"
  >
    <mat-toolbar>
      <mat-toolbar-row>
        <span class="example-spacer"></span>
        <button mat-icon-button (click)="sidenav.close()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <app-sidebar [isHandset$]="isHandset$" [sidenav]="sidenav"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content style="width: 100%; height: 100%">
    <mat-toolbar style="height: auto" class="bg-dark">
      <mat-toolbar-row style="width: 100%">
        <a mat-button class="nav-link h2 text-white" style="font-family: 'Anton', sans-serif"
           routerLink="/">
          Global Market
        </a>
        <span (click)="drawer.toggle()" class="example-spacer"></span>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          class="text-white"
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div class="offset-8" *ngIf="!(isHandset$ | async)">
          <a *ngIf="gdService.IsAuthenticated()" mat-button class="nav-link h5 text-white"
             routerLink="/cart">
            Cart <i matBadge="5" class="fas fa-cart-arrow-down" matBadgeOverlap="false"
                    matBadgePosition="above after" matBadgeSize="medium"
                    matBadgeColor="accent"></i>
          </a>
          <a *ngIf="gdService.IsAuthenticated()" mat-button [mat-menu-trigger-for]="userMenu"
             class="nav-link ml-2 h5 text-white">
            {{gdService.Username}}
          </a>
          <mat-menu overlapTrigger #userMenu>
            <button mat-menu-item routerLink="/user-profile">
              Profile
            </button>
            <button mat-menu-item routerLink="/orders">
              Orders
            </button>
            <button mat-menu-item routerLink="/invoices">
              Invoices
            </button>
          </mat-menu>
          <a (click)="gdService.userLogout()" *ngIf="gdService.IsAuthenticated()" class="nav-link ml-2 h5 text-white"
             mat-button
             routerLinkActive="active"
          >
            Logout <i class="fas fa-sign-out-alt"></i>
          </a>
          <a *ngIf="!gdService.IsAuthenticated()" class="nav-link ml-2 h5 text-white" mat-button
             routerLink="/auth/login" routerLinkActive="active"
          >
            Login <i class="fas fa-sign-in-alt"></i>
          </a>
          <a *ngIf="!gdService.IsAuthenticated()" class="nav-link ml-2 h5 text-white" mat-button
             routerLink="/auth/register"
             routerLinkActive="active"
          >
            Register <i class="far fa-user-circle"></i>
          </a>
        </div>
      </mat-toolbar-row>

    </mat-toolbar>
    <mat-toolbar class="under-bar" *ngIf="!(isHandset$ | async)">
      <mat-toolbar-row style="width: 100%">
        <div class="offset-0">
          <a mat-button class="nav-link text-dark  h5 "
             (click)="sidenav.toggle()" routerLinkActive="active">
            Categories &nbsp; <i class="fas fa-th-list"></i>
          </a>
        </div>
        <div class="offset-0">
          <a mat-button class="nav-link text-dark h5 "
             routerLink="/tags">
            Tags &nbsp; <i class="fas fa-tags"></i>
          </a>
        </div>
        <div class="offset-0">
          <a mat-button class="nav-link text-dark h5 "
             routerLink="/">
            Home&nbsp; <i class="fas fa-store"></i>
          </a>
        </div>
        <div class="offset-0">
          <a mat-button class="nav-link text-dark h5 "
             routerLink="/shop">
            Shop &nbsp; <i class="fab fa-shopify"></i>
          </a>
        </div>
        <div class="offset-0 w-100">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="btn-group" mdbDropdown>
                <button type="button" style="width: auto" mdbBtn outline="true" size="md"
                        class="z-depth-0 rgba-white-strong"
                        mdbWavesEffect><strong>{{selectedOptionSearch}}</strong>
                </button>
                <button type="button" mdbDropdownToggle mdbBtn outline="true"
                        class="dropdown-toggle dropdown-toggle-split z-depth-0 p-2 blue lighten-1"
                        mdbWavesEffect></button>
                <div class="dropdown-menu">
                  <a (click)="setOptionSearch('Categories')" class="dropdown-item text-dark">Categories</a>
                  <a (click)="setOptionSearch('Sub Categories')" class="dropdown-item text-dark">Sub Categories</a>
                  <a (click)="setOptionSearch('Products')" class="dropdown-item text-dark">Products</a>
                </div>
              </div>
            </div>
            <input name="search" (keyup.enter)="submitSearch()"
                   [(ngModel)]="search" type="text"
                   placeholder="What's in your mind?"
                   class="form-control" matAutocompletePosition="below" [defaultValue]="search"
                   aria-label="Text input with dropdown button" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option (click)="search = option; submitSearch()"
                          *ngFor="let option of selectedList | generalFilter: search"
                          [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <div class="input-group-append">
              <div class="btn-group" mdbDropdown>
                <button (click)="submitSearch()" type="button" mdbBtn color="default" outline="true" size="md"
                        class="z-depth-0"
                        mdbWavesEffect><i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet>

    </router-outlet>

    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>
