<div fxLayout="row">
  <mat-form-field [ngClass]="{'w-35': isHandset$ | async, 'w-75': !(isHandset$ | async)}">
    <mat-select [formControl]="matSelectCtrl" placeholder="Search">
      <mat-option>
        <ngx-mat-select-search #matSelectSearchComponent noEntriesFoundLabel="No results found"
                               ariaLabel="What is in your mind?"
                               placeholderLabel="What is in your mind?" [formControl]="itemsFilteringCtrl"
                               [searching]="searching"
                               (keyup.enter)="submitSearch(matSelectSearchComponent.value)"></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let item of items | async" [value]="item">
        <div (click)="submitSearch(item.name)">{{item.name}}</div>
      </mat-option>
    </mat-select>

  </mat-form-field>
  <mat-form-field class="w-25 ml-2" *ngIf="!(isHandset$ | async)">
    <mat-select [(ngModel)]="selectedOptionSearch">
      <mat-option *ngFor="let searchType of ['Categories', 'Sub Categories', 'Products']" [value]="searchType">
        <span (click)="setOptionSearch(searchType)">{{searchType}}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class=" ml-1 w-25" *ngIf="isHandset$ | async">
    <mat-select [(ngModel)]="selectedOptionSearch" name="selectedOptionSearch">
      <mat-option *ngFor="let searchType of ['Categories', 'Sub Categories', 'Products']" [value]="searchType">
        <span (click)="setOptionSearch(searchType)">{{searchType}}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
