<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
      <button type="button" (click)="helperService.hideModal()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3">
      <div class="md-form mb-5">
        <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
        <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control"
               mdbInput mdbValidate>
        <label for="defaultForm-email">Your email</label>
        <mdb-error
          *ngIf="loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
          Input invalid
        </mdb-error>
        <mdb-success
          *ngIf="loginFormModalEmail.valid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">Input
          valid
        </mdb-success>
      </div>

      <div class="md-form mb-4">
        <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
        <input type="password" id="defaultForm-pass" [formControl]="loginFormModalPassword" class="form-control"
               mdbInput mdbValidate>
        <label for="defaultForm-pass">Your password</label>
        <mdb-error
          *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
          Input invalid
        </mdb-error>
        <mdb-success
          *ngIf="loginFormModalPassword.valid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
          Input valid
        </mdb-success>
      </div>

    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button mdbBtn color="default" class="waves-light" mdbWavesEffect>Login</button>
      <button type="button" (click)="helperService.hideModal()" mdbBtn color="light" mdbWavesEffect>Close</button>
    </div>
  </div>
</div>
