<!-- Page content -->
<div class="container-fluid pt-4 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card ">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <h3>Please Enter Your Password to reset it</h3>
          </div>
          <form role="form" (ngSubmit)="resetPassword()"
                novalidate [formGroup]="resetPasswordDto">
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-lock"></i></span>
                </div>
                <input formControlName="newPassword" type="password" class="form-control"
                       placeholder="New Password">
              </div>
              <div
                *ngIf="(controls['newPassword'].invalid && controls['newPassword'].touched) || controls['newPassword'].dirty">
                <small *ngIf="controls['newPassword'].errors?.required" class="text-danger">NewPassword is
                  required</small>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-lock"></i></span>
                </div>
                <input formControlName="confirmPassword" type="password" class="form-control"
                       placeholder="Confirm Password">
              </div>
              <div
                *ngIf="(controls['confirmPassword'].invalid && controls['confirmPassword'].touched) || controls['confirmPassword'].dirty">
                <small *ngIf="controls['confirmPassword'].errors?.required" class="text-danger">ConfirmPassword is
                  required</small>
                <small *ngIf="controls['confirmPassword'].errors?.mustMatch" class="text-danger">Passwords does not
                  match!!</small>
              </div>
            </div>
            <div class="text-center">
              <button [disabled]="resetPasswordDto.invalid" type="submit" class="btn btn-primary my-4">Reset</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
<ng-template #errorTemplate>
  <app-show-error-dialog
    [error]="helperService.error"></app-show-error-dialog>
</ng-template>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium" color="#fff" type="ball-clip-rotate"
>
  <p style="font-size: 20px; color: white">
    Resetting Password...
  </p>
</ngx-spinner>
