<div class="modal-dialog " role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h3 class="modal-title w-100 font-weight-bold">Create Profile</h3>
      <button type="button" (click)="helperService.hideModal()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body ">
      <form [formGroup]="createProfileForm" novalidate>
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <h3 class="heading-small text-muted mb-4">Main Information</h3>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-displayName">Display Name</label>
                    <input [class.is-invalid]="Controls['displayName'].invalid && Controls['displayName'].touched"
                           formControlName="displayName" type="text" id="input-displayName"
                           class="form-control form-control-alternative"
                           placeholder="Display Name">
                    <div
                      *ngIf="(Controls['displayName'].invalid && Controls['displayName'].touched) || Controls['displayName'].dirty">
                      <small *ngIf="Controls['displayName'].errors?.required"
                             class="text-danger">{{errorMessages.requiredField('Display Name')}}</small>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="input-gender">Gender</label>
                    <select formControlName="gender"
                            [class.is-invalid]="Controls['gender'].invalid && Controls['gender'].touched"
                            class="form-control" id="input-gender">
                      <option *ngFor="let g of ['MALE', 'FEMALE']" [value]="g">{{g}}</option>
                    </select>
                    <div
                      *ngIf="(Controls['gender'].invalid && Controls['gender'].touched) || Controls['gender'].dirty">
                      <small *ngIf="Controls['gender'].errors?.required"
                             class="text-danger">{{errorMessages.requiredField('Gender')}}</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Country</label>
                    <input formControlName="country" type="text" id="input-country"
                           class="form-control form-control-alternative"
                           [class.is-invalid]="Controls['country'].invalid && Controls['country'].touched"
                           placeholder="Country">
                    <div
                      *ngIf="(Controls['country'].invalid && Controls['country'].touched) || Controls['country'].dirty">
                      <small *ngIf="Controls['country'].errors?.required"
                             class="text-danger">{{errorMessages.requiredField('Country')}}</small>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">City</label>
                    <input formControlName="city" type="text" id="input-city"
                           class="form-control form-control-alternative"
                           [class.is-invalid]="Controls['city'].invalid && Controls['city'].touched"
                           placeholder="City">
                    <div
                      *ngIf="(Controls['city'].invalid && Controls['city'].touched) || Controls['city'].dirty">
                      <small *ngIf="Controls['city'].errors?.required"
                             class="text-danger">{{errorMessages.requiredField('City')}}</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <h3 class="heading-small text-muted mb-4">Contacts Information</h3>
            <div class="pl-lg-4">
              <app-add-contacts [Contacts]="Contacts" [form]="createProfileForm"></app-add-contacts>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button [disabled]="createProfileForm.invalid || helperService.startLoadingFlag"
              (click)="createProfile()"
              mdbBtn color="default" class="waves-light" mdbWavesEffect>Create Profile
      </button>
    </div>
  </div>
</div>
