<div class="modal-header">
  <h4 *ngIf="errorName" class="modal-title pull-left">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    {{errorName}}
  </h4>
  <button class="close pull-right" (click)="helperService.hideModal()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body text-center">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{errorMessage}}
  </div>
  <button (click)="helperService.hideModal()" class="btn btn-danger">
    Close
  </button>
</div>
