<div class="row m-3">
  <div class="col-xl-4">
    <mdb-card>
      <mdb-card-body>
        <div class="row">
          <div class="col-xl-6 " *ngFor="let sc of gdService.SubCategories">
            <a [ngClass]="{'bg-primary': scId === sc.id}"
               (click)="onSubCategorySelect(sc)"
               mat-button class="nav-link">
              {{sc.name}}
            </a>
          </div>
        </div>
        <hr class="my-2">
        <ul class="nav grey lighten-3 " *ngIf="subCategory && productsTags">
          <li class="nav-item">
            <a (click)="onAllTagSelect()" mat-button [ngClass]="{'bg-danger': isAllSelected }"
               class="nav-link m-1">
              All
            </a>
          </li>
          <li class="nav-item m-1" *ngFor="let tag of productsTags">
            <a mat-button (click)="onTagSelect(tag)" [ngClass]="{'bg-danger': tag.id === selectedTag }"
               class="nav-link">
              {{tag.name}}
            </a>
          </li>
        </ul>
        <mat-divider class="my-2 w-100" style="width: 100%"></mat-divider>

        <div class="row">
          <div class="col-xl-12">
            <span>Min Range: {{productsCustomFilterDto.range1 ? productsCustomFilterDto.range1 : 0}}</span>
            <mat-slider class="example-full-width" #range1 min="10"
                        (valueChange)="onMinRangeSelect(range1.value)"
                        [max]="productsCustomFilterDto.range2? productsCustomFilterDto.range2: 500"
                        tickInterval="auto"
                        step="3" color="warn" thumbLabel></mat-slider>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <span>Max Range: {{productsCustomFilterDto.range2 ? productsCustomFilterDto.range2 : 0}}</span>
            <mat-slider class="example-full-width" #range2
                        [min]="productsCustomFilterDto.range1? productsCustomFilterDto.range1 : 10"
                        (valueChange)="onMaxRangeSelect(range2.value)"
                        max="7000"
                        tickInterval="auto"
                        step="3" color="warn" thumbLabel></mat-slider>
          </div>
        </div>
        <hr class="my-2">
        <div class="row">
          <div class="col-xl-12">
            <mat-form-field style="width: 100%">
              <mat-label>Availability</mat-label>
              <mat-select name="stock" placeholder="Availability"
                          [(ngModel)]="productsCustomFilterDto.stock"
                          (ngModelChange)="loadByAvailability()">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let state of ['In Stock', 'Out of Stock']"
                            [value]="state">{{state}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mdb-card-body>
    </mdb-card>
  </div>
  <div class="col-xl-8">
    <mdb-card>
      <mdb-card-body>
        <section *ngIf="products.getValue() && ( products.asObservable()| async).length === 0">
          <!-- Grid row -->
          <div class="row m-4 justify-content-center">
            <div class="col-xl-12">
              <h1 class="h1 text-center">No products to display!</h1>
            </div>
          </div>
        </section>
        <mat-form-field appearance="fill" style="width: 100%"
                        *ngIf="products.getValue() && products.getValue().length > 0">
          <mat-label>Search for product</mat-label>
          <input type="text" matInput placeholder="Search for product" name="searchTerm" [(ngModel)]="searchTerm">
        </mat-form-field>
        <section>
          <!-- Grid row -->
          <div class="row m-4">
            <!-- Grid column -->
            <div class="col-xl-4 mb-4"
                 *ngFor="let product of products.asObservable() | async | productFilter: searchTerm; let i = index">
              <div class="">
                <div (click)="helperService.productDetails(product)" class="view zoom overlay z-depth-2 rounded">
                  <img class="img-fluid fadeInUp  w-100"
                       style="max-height: 250px; height: 250px"
                       [src]="product.images[0]" alt="Sample">
                  <a>
                    <div class="mask">
                      <img class="img-fluid w-100"
                           style="max-height: 250px; height: 250px"
                           [src]="product.images[0]">
                      <div class="mask rgba-black-slight"></div>
                    </div>
                  </a>
                </div>
                <div class=" pt-4 text-center">
                  <h4>{{product.name}}</h4>
                  <p>
                    <span> ${{product.currentPrice}}</span>
                    <span *ngIf="product.previousPrice" class="ml-5">
                    <span *ngIf="product.previousPrice" class="text-grey">
                      <s><del>${{product.previousPrice}}</del></s>
                    </span>
                  </span>
                  </p>
                  <p><strong [innerText]="product.inStock? 'In Stock': 'Out of Stock'"></strong></p>

                  <button *ngIf="gdService.IsAuthenticated()" (click)="helperService.openModal(addToCartTemp)"
                          type="button"
                          class="btn btn-primary  btn-sm mr-1 mb-2"><i
                    class="fas fa-shopping-cart pr-2"></i>Add to cart
                  </button>
                  <ng-template #addToCartTemp>
                    <app-add-to-cart [product]="product"></app-add-to-cart>
                  </ng-template>
                </div>
                <hr class="my-2">
              </div>
            </div>
          </div>
        </section>
      </mdb-card-body>
      <mdb-card-footer *ngIf="products.getValue() && products.getValue().length > 0">
        <app-pagination [lastPage]="gdService.lastPage"
                        [currentPage]="gdService.currentPage"
                        [hasPreviousPage]="gdService.hasPreviousPage"
                        [hasNextPage]="gdService.hasNextPage"
                        [previousPage]="gdService.previousPage"
                        [nextPage]="gdService.nextPage"
                        (change)="onPageChange($event)"
        ></app-pagination>
        <button style="  transition: width 1s;" (click)="helperService.backToTop()"
                class="btn btn-sm rounded btn-primary pull-right" type="button">
          Back to Top &nbsp; <i class="fas fa-arrow-up"></i>
        </button>
      </mdb-card-footer>
    </mdb-card>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#9344d4d"
  type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">
    Loading...
  </p>
</ngx-spinner>
