<div class="row m-3">
  <div class="col-xl-4">
    <mdb-card>
      <mdb-card-header>
        <h2 class="h2">General Filter</h2>
      </mdb-card-header>
      <mdb-card-body>
        <div class="row">
          <div class="col-xl-12">
            <h3>Sub Categories</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 " *ngFor="let sc of gdService.SubCategories">
            <a [ngClass]="{'bg-primary': scId === sc.id}"
               (click)="onSubCategorySelect(sc); fetchBySubCategoryName(sc, 10)"
               mat-button class="nav-link">
              {{sc.name}}
            </a>
          </div>
        </div>
        <hr class="my-2">
        <div class="row">
          <div class="col-xl-12">
            <h3>Select a Tag</h3>
          </div>
        </div>
        <ul class="nav grey lighten-3 ">
          <li class="nav-item">
            <a (click)="getAll()" mat-button [ngClass]="{'bg-danger': isAllSelected }"
               class="nav-link m-1">
              All
            </a>
          </li>
          <li class="nav-item m-1" *ngFor="let tag of gdService.SubCategoriesTags">
            <a mat-button (click)="fetchByTagName(tag)" [ngClass]="{'bg-danger': tag.id === selectedTag }"
               class="nav-link">
              {{tag.name}}
            </a>
          </li>
        </ul>
        <mat-divider class="my-2 w-100" style="width: 100%"></mat-divider>
        <h2>Custom Filter</h2>
        <mat-divider class="my-1 w-100" style="width: 100%"></mat-divider>
        <div class="row">
          <div class="col-xl-12">
            <h3>Price</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <span>Min Range: {{productsCustomFilterDto.range1 ? productsCustomFilterDto.range1 : 0}}</span>
            <mat-slider class="example-full-width" #range1 min="10" (valueChange)="setRange1(range1.value)"
                        [max]="productsCustomFilterDto.range2? productsCustomFilterDto.range2: 500"
                        tickInterval="auto"
                        step="3" color="warn" thumbLabel></mat-slider>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <span>Max Range: {{productsCustomFilterDto.range2 ? productsCustomFilterDto.range2 : 0}}</span>
            <mat-slider class="example-full-width" #range2
                        [min]="productsCustomFilterDto.range1? productsCustomFilterDto.range1 : 10"
                        (valueChange)="setRange2(range2.value)"
                        max="7000"
                        tickInterval="auto"
                        step="3" color="warn" thumbLabel></mat-slider>
          </div>
        </div>
        <hr class="my-2">
        <div class="row">
          <div class="col-xl-12">
            <mat-form-field style="width: 100%">
              <mat-label>Availability</mat-label>
              <mat-select name="stock" placeholder="Availability"
                          [(ngModel)]="productsCustomFilterDto.stock">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let state of ['In Stock', 'Out of Stock']"
                            [value]="state">{{state}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row justify-content-center my-2">
          <button (click)="loadCustomProducts()" mdbBtn color="secondary" type="button">
            <span *ngIf="showFilter" class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
              <i
                class="fas fa-filter"></i>
            </span>
            <span *ngIf="!showFilter">Filter &nbsp; <i
              class="fas fa-filter"></i></span>
          </button>
        </div>
      </mdb-card-body>
    </mdb-card>
  </div>
  <div class="col-xl-8">
    <mdb-card>
      <mdb-card-body>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Search for product</mat-label>
          <input type="text" matInput placeholder="Search for product" name="searchTerm" [(ngModel)]="searchTerm">
        </mat-form-field>
        <section>
          <!-- Grid row -->
          <div class="row m-4">
            <!-- Grid column -->
            <div class="col-xl-4 mb-4" *ngFor="let product of products | productFilter: searchTerm; let i = index">
              <div class="">
                <div class="view zoom overlay z-depth-2 rounded">
                  <img class="img-fluid fadeInUp  w-100"
                       style="max-height: 250px; height: 250px"
                       [src]="product.images[0]" alt="Sample">
                  <a>
                    <div class="mask">
                      <img class="img-fluid w-100"
                           style="max-height: 250px; height: 250px"
                           [src]="product.images[0]">
                      <div class="mask rgba-black-slight"></div>
                    </div>
                  </a>
                </div>
                <div class=" pt-4 text-center">
                  <h4>{{product.name}}</h4>
                  <p>
                    <span> ${{product.currentPrice}}</span>
                    <span class="ml-5">
                    <span class="text-grey"><s>$36.99</s></span>
                  </span>
                  </p>
                  <p><strong [innerText]="product.inStock? 'In Stock': 'Out of Stock'"></strong></p>

                  <button (click)="helperService.openModal(addToCartTemp)" type="button"
                          class="btn btn-primary  btn-sm mr-1 mb-2"><i
                    class="fas fa-shopping-cart pr-2"></i>Add to cart
                  </button>
                  <ng-template #addToCartTemp>
                    <app-add-to-cart [product]="product"></app-add-to-cart>
                  </ng-template>
                  <button (click)="helperService.productDetails(product)" type="button"
                          class="btn  btn-light btn-sm mr-1 mb-2"><i
                    class="fas fa-info-circle pr-2"></i>Details
                  </button>
                </div>
                <hr class="my-2">
              </div>
            </div>
          </div>
        </section>
      </mdb-card-body>
      <mdb-card-footer>
        <div class="row justify-content-center">
          <button (click)="loadMore()" mdbBtn color="primary" type="button">
            <span *ngIf="showSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="!showSpinner">Load More</span>
          </button>
          <button (click)="backToTop()" mdbBtn color="deep-purple" type="button">
            Back to Top &nbsp; <i class="fas fa-arrow-up"></i>
          </button>
        </div>
      </mdb-card-footer>
    </mdb-card>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#9344d4d"
  type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">
    Loading...
  </p>
</ngx-spinner>
