<mat-toolbar *ngIf="gdService.Categories">
  <mat-toolbar-row class="mt-3 ">
    Categories
  </mat-toolbar-row>
  <mat-toolbar-row *ngFor="let category of gdService.Categories ; let i = index">
    <a style="width: 100%" mat-button class="nav-link text-left" [mat-menu-trigger-for]="menu">
      <span>{{category.name}}</span>
      &nbsp; &nbsp;
      <span><i class="fas fa-chevron-right"></i></span>
    </a>
    <mat-menu #menu xPosition="after">
      <div *ngFor="let subC of category.subCategories;">
        <button mat-menu-item (click)="sidenav.close(); navigateToSubCategory(category, subC)">
          {{subC.name}}
        </button>
      </div>

    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>
<mat-toolbar *ngIf="gdService.SubCategoriesTags && (isHandset$ | async)">
  <mat-toolbar-row class="mt-3 " *ngIf="isHandset$ | async">
    Tags
  </mat-toolbar-row>
  <mat-toolbar-row *ngFor="let tag of gdService.SubCategoriesTags ; let i = index">
    <a style="width: 100%" mat-button class="nav-link text-left">
      <span>{{tag.name}}</span>
    </a>

  </mat-toolbar-row>
</mat-toolbar>
