<div class="container-fluid" *ngIf="subCategory">
  <div class="card m-4">
    <section>
      <div class="row justify-content-center m-4" *ngIf="productsTags && productsTags.length >=1">
        <div class="card">
          <div class="card-body">
            <ul class="nav grey lighten-3 ">
              <li class="nav-item">
                <a (click)="getAll()" mat-button [ngClass]="{'bg-danger': isAllSelected }"
                   class="nav-link">
                  All
                </a>
              </li>
              <li class="nav-item" *ngFor="let tag of productsTags">
                <a (click)="onTagSelect(tag)" mat-button [ngClass]="{'bg-danger': tag.id === selectedTag }"
                   class="nav-link">
                  {{tag.name}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row m-4">
        <div *ngIf="subCategory && subCategory.products.length === 0" class="col-xl-12">
          <h2 class="text-center "> No Products Available in this sub category yet!
          </h2>
        </div>
        <div class="col-md-3 mb-4" *ngFor="let product of products; let i = index">
          <div class="">
            <div class="view zoom overlay z-depth-2 rounded">
              <img class="img-fluid w-100"
                   style="max-height: 250px; height: 250px"
                   [src]="product.images[0]" alt="Sample">
              <a>
                <div class="mask">
                  <img class="img-fluid w-100"
                       style="max-height: 250px; height: 250px"
                       [src]="product.images[0]">
                  <div class="mask rgba-black-slight"></div>
                </div>
              </a>
            </div>
            <div class="text-center pt-4">
              <h4>{{product.name}}</h4>
              <p class="mb-2 text-muted text-uppercase small">{{subCategory.name}}</p>
              <p>
                <span>${{product.currentPrice}}</span>
                <span class="ml-5">
                    <span class="text-grey"><s>$36.99</s></span>
                  </span>
              </p>
              <button type="button" class="btn btn-primary btn-sm mr-1 mb-2"><i
                class="fas fa-shopping-cart pr-2"></i>Add to cart
              </button>
              <button (click)="helperService.productDetails(product)" type="button"
                      class="btn btn-light btn-sm mr-1 mb-2"><i
                class="fas fa-info-circle pr-2"></i>Details
              </button>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="card m-4">
    <div class="card-body">
      <div class="row justify-content-center">
        <button
          (click)="loadMoreProducts()"
          mdbBtn
          color="primary" type="button">
        <span *ngIf="showSpinner" class="spinner-border spinner-border-sm" role="status"
              aria-hidden="true"></span>
          <span *ngIf="!showSpinner">Load More</span>
        </button>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#9344d4d"
  type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">
    Loading...
  </p>
</ngx-spinner>
