<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#9344d4d"
  type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">
    {{state}}
  </p>
</ngx-spinner>
<ng-template #errorTemplate>
  <app-show-error-dialog
    [error]="helperService.error"></app-show-error-dialog>
</ng-template>
<mdb-carousel allowSwipe [animation]="'slide'">
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
  </mdb-carousel-item>
</mdb-carousel>
<div class="container-fluid ">
  <mdb-card class="m-4">
    <mdb-card-header>
      <h2>Most Selling Products</h2>
    </mdb-card-header>
    <mdb-card-body>
      <section>
        <!-- Grid row -->
        <div class="row m-4">
          <!-- Grid column -->
          <div class="col-md-3 mb-4" *ngFor="let product of gdService.MostSalesProducts; let i = index">
            <!-- Card -->
            <div class="">
              <div (click)="helperService.productDetails(product)" class="view zoom overlay z-depth-2 rounded">
                <img class="img-fluid fadeInUp  w-100"
                     style="max-height: 250px; height: 250px"
                     [src]="product.images[0]" alt="Sample">
                <a>
                  <div class="mask">
                    <img class="img-fluid w-100"
                         style="max-height: 250px; height: 250px"
                         [src]="product.images[0]">
                    <div class="mask rgba-black-slight"></div>
                  </div>
                </a>
              </div>
              <div class=" pt-4 text-center">
                <h4>{{product.name}}</h4>
                <p>
                  <span>{{product.currentPrice}} $</span>
                  <span class="ml-5">
                    <span class="text-grey"><s>$36.99</s></span>
                  </span>
                </p>
                <p><strong [innerText]="product.inStock? 'In Stock': 'Out of Stock'"></strong></p>

                <button *ngIf="gdService.IsAuthenticated()" (click)="helperService.openModal(addToCartTemp)"
                        type="button"
                        class="btn btn-primary btn-sm mr-1 mb-2"><i
                  class="fas fa-shopping-cart pr-2"></i>Add to cart
                </button>
                <ng-template #addToCartTemp>
                  <app-add-to-cart [product]="product"></app-add-to-cart>
                </ng-template>
              </div>
              <hr class="my-2">
            </div>
            <!-- Card -->
          </div>
          <!-- Grid column -->


          <!-- Card -->

          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
    </mdb-card-body>
  </mdb-card>
  <mdb-card class="m-4">
    <mdb-card-header>
      <div class="d-flex">
        <h2>Products in this month</h2>
        <a routerLink="/shop" mat-button class="nav-link" style="font-size: 18px">
          Shop Now
        </a>
      </div>
    </mdb-card-header>
    <mdb-card-body>
      <section>
        <!-- Grid row -->
        <div class="row m-4">
          <!-- Grid column -->
          <div class="col-md-3 mb-4" *ngFor="let product of gdService.MonthProducts; let i = index">
            <!-- Card -->
            <div class="">
              <div (click)="helperService.productDetails(product)" class="view zoom overlay z-depth-2 rounded">
                <img class="img-fluid fadeInUp  w-100"
                     style="max-height: 250px; height: 250px"
                     [src]="product.images[0]" alt="Sample">
                <a>
                  <div class="mask">
                    <img class="img-fluid w-100"
                         style="max-height: 250px; height: 250px"
                         [src]="product.images[0]">
                    <div class="mask rgba-black-slight"></div>
                  </div>
                </a>
              </div>
              <div class=" pt-4 text-center">
                <h4>{{product.name}}</h4>
                <p>
                  <span>${{product.currentPrice}}</span>
                  <span class="ml-5">
                    <span class="text-grey"><s>$36.99</s></span>
                  </span>
                </p>
                <p><strong [innerText]="product.inStock? 'In Stock': 'Out of Stock'"></strong></p>

                <button *ngIf="gdService.IsAuthenticated()" (click)="helperService.openModal(addToCartTemp)"
                        type="button"
                        class="btn btn-primary btn-sm mr-1 mb-2"><i
                  class="fas fa-shopping-cart pr-2"></i>Add to cart
                </button>
                <ng-template #addToCartTemp>
                  <app-add-to-cart [product]="product"></app-add-to-cart>
                </ng-template>
              </div>
              <hr class="my-2">
            </div>
            <!-- Card -->
          </div>
          <!-- Grid column -->


          <!-- Card -->

          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
    </mdb-card-body>
  </mdb-card>


  <div class="row m-2">
    <div class="col-xl-12">
      <div class="card">
        <!--Section: Content-->
        <section>
          <!-- Section heading -->
          <h2 class="h1-responsive font-weight-bold text-center my-4">Why we are the best?</h2>
          <!-- Section description -->
          <p class="text-center w-sm-75 mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad
            minima veniam,
            quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti voluptas ratione
            hic.</p>

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-lg-5 text-center text-lg-left">
              <img class="img-fluid" src="../../../../assets/img/brand/products.jpg"
                   alt="Sample image">
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-7">

              <ul class="list-unstyled fa-ul mb-lg-0 mb-5">
                <li class="d-flex justify-content-center pl-4">
                  <span class="fa-li pt-1"><i class="fas fa-share fa-lg text-primary"></i></span>
                  <div>
                    <h5>Marketing</h5>
                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam.</p>
                  </div>
                </li>
                <li class="d-flex justify-content-center pl-4">
                  <span class="fa-li pt-1"><i class="fas fa-share fa-lg text-primary"></i></span>
                  <div>
                    <h5>Entertainment</h5>
                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam.</p>
                  </div>
                </li>
                <li class="d-flex justify-content-center pl-4">
                  <span class="fa-li pt-1"><i class="fas fa-share fa-lg text-primary"></i></span>
                  <div>
                    <h5>Communication</h5>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam.</p>
                  </div>
                </li>
              </ul>

            </div>
            <!--Grid column-->

          </div>
          <!-- Grid row -->

        </section>
        <!--Section: Content-->
      </div>
    </div>
  </div>
  <div class="row justify-content-center m-2">
    <div class="col-xl-12">
      <div class="card">

        <h2 class="h1-responsive font-weight-bold text-center my-4">Subscribe to our news letter</h2>
        <p class="text-center w-responsive mx-auto mb-4 text-muted">You will get the latest notifications for new
          products and offers</p>
        <section class="mb-4">
          <div class="row m-3">
            <div class="col-xl-9">
              <form [formGroup]="subscriptionForm" novalidate>
                <div class="md-form mb-0">
                  <input type="text" formControlName="email" id="subscriptionEmail" name="email" class="form-control"
                         [class.is-invalid]="subscriptionForm.controls['email'].invalid && subscriptionForm.controls['email'].touched">
                  <label for="subscriptionEmail" class="">Your email</label>
                </div>
                <div
                  *ngIf="(subscriptionForm.controls['email'].invalid && subscriptionForm.controls['email'].touched) || subscriptionForm.controls['email'].dirty">
                  <small *ngIf="subscriptionForm.controls['email'].errors?.required" class="text-danger">Email is
                    required</small>
                  <small *ngIf="subscriptionForm.controls['email'].errors?.pattern" class="text-danger">Please provide a valid
                    email
                    address</small>
                </div>
              </form>
            </div>
            <div class="col-xl-3">
              <div class="md-form mb-0">
                <button [disabled]="subscriptionForm.invalid" (click)="subscribeToNotifications()"
                        class="btn btn-info btn-block " type="submit">Subscribe
                </button>
              </div>

            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="row justify-content-center m-2">
    <div class="col-xl-12">
      <div class="card">
        <section class="mb-4">

          <!--Section heading-->
          <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
          <!--Section description-->
          <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact
            us
            directly. Our team will come back to you within
            a matter of hours to help you.</p>

          <div class="row m-3">

            <!--Grid column-->
            <div class="col-md-9 mb-md-0 mb-5">
              <form [formGroup]="contactMessageDto" novalidate>
                <!--Grid row-->
                <div class="row">
                  <div class="col-md-12">
                    <div class="md-form mb-0">
                      <input type="text" formControlName="email" id="email" name="email" class="form-control"
                             [class.is-invalid]="ContactControls['email'].invalid && ContactControls['email'].touched">
                      <label for="email" class="">Your email</label>
                    </div>
                    <div
                      *ngIf="(ContactControls['email'].invalid && ContactControls['email'].touched) || ContactControls['email'].dirty">
                      <small *ngIf="ContactControls['email'].errors?.required" class="text-danger">Email is
                        required</small>
                      <small *ngIf="ContactControls['email'].errors?.pattern" class="text-danger">Please provide a valid
                        email
                        address</small>
                    </div>
                  </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                  <div class="col-md-12">
                    <div class="md-form mb-0">
                      <input formControlName="subject"
                             [class.is-invalid]="ContactControls['subject'].invalid && ContactControls['subject'].touched"
                             type="text" id="subject" name="subject" class="form-control">
                      <label for="subject" class="">Subject</label>
                    </div>
                    <div
                      *ngIf="(ContactControls['subject'].invalid && ContactControls['subject'].touched) || ContactControls['subject'].dirty">
                      <small *ngIf="ContactControls['subject'].errors?.required" class="text-danger">Subject is
                        required</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="md-form">
                    <textarea formControlName="message" id="message" name="message"
                              [class.is-invalid]="ContactControls['message'].invalid && ContactControls['message'].touched"
                              class="form-control md-textarea"></textarea>
                      <label for="message">Your message</label>
                    </div>
                    <div
                      *ngIf="(ContactControls['message'].invalid && ContactControls['message'].touched) || ContactControls['message'].dirty">
                      <small *ngIf="ContactControls['message'].errors?.required" class="text-danger">Message is
                        required</small>
                    </div>
                  </div>

                </div>
                <!--Grid row-->

              </form>

              <div class="text-center text-md-right">
                <button [disabled]="contactMessageDto.invalid" class="btn btn-primary" (click)="sendContactMessage()">
                  Send
                </button>
              </div>
              <div class="status"></div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3 text-center">
              <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                  <p>San Francisco, CA 94126, USA</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                  <p>+ 01 234 567 89</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                  <p>contact@mdbootstrap.com</p>
                </li>
              </ul>
            </div>
            <!--Grid column-->

          </div>

        </section>
      </div>

    </div>

  </div>
</div>
