<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#9344d4d"
  type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">
    Loading Product... Hang On
  </p>
</ngx-spinner>
<div class="container-fluid" *ngIf="product">
  <mdb-card class="m-4">
    <mdb-card-body>
      <section class="mb-5">
        <div class="row">
          <div class="col-md-6 mb-4 mb-md-0 ">
            <div class="view zoom overlay z-depth-2 rounded">
              <img class="img-fluid w-100"
                   style="max-height: 600px; height: 600px"
                   [src]="selectedImage" alt="Sample">
              <a>
                <div class="mask">
                  <img class="img-fluid w-100"
                       style="max-height: 600px; height: 600px"
                       [src]="selectedImage">
                  <div class="mask rgba-black-slight"></div>
                </div>
              </a>
            </div>
            <div class="row mt-2">
              <div class="col-3" *ngFor="let image of product.images">
                <div style="cursor: pointer" (click)="setSelectedImage(image)"
                     class="view overlay rounded z-depth-1 gallery-item">
                  <img [src]="image" class="img-fluid">
                  <div class="mask rgba-white-slight"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h2 class="h2">{{product.name}}</h2>
            <p class="lead"><span class="mr-1"><strong>${{product.currentPrice}}</strong></span>
              <span *ngIf="product.previousPrice" class="ml-4">
                <span class="text-grey"><s>$36.99</s></span>
              </span>
            </p>
            <p class="pt-1 lead">{{product.description}}.</p>
            <div class="table-responsive">
              <table class="table table-sm table-borderless mb-0">
                <tbody>
                <tr>
                  <th class="pl-0 w-25" scope="row"><strong>Model</strong></th>
                  <td>{{subCategory.name}}</td>
                </tr>
                <tr>
                  <th class="pl-0 w-25" scope="row"><strong>Color</strong></th>
                  <td><p class="lead">Black</p></td>
                </tr>
                <tr>
                  <th class="pl-0 w-25" scope="row"><strong>Delivery</strong></th>
                  <td><p class="lead">Jordan, All Provinces</p></td>
                </tr>
                </tbody>
              </table>
            </div>
            <hr>
            <button (click)="helperService.openLoginForm()" type="button" class="btn btn-light btn-md mr-1 mb-2"><i
              class="fas fa-shopping-cart pr-2"></i>Add to cart
            </button>
          </div>
        </div>

      </section>
    </mdb-card-body>
  </mdb-card>
  <mdb-card class="m-4" *ngIf="relatedProducts.length >= 1">
    <mdb-card-header>
      <h1 class="h1 text-center">Related Products</h1>
    </mdb-card-header>
    <mdb-card-body>
      <section>
        <!-- Grid row -->
        <div class="row m-4">
          <!-- Grid column -->
          <div class="col-xl-4 mb-4" *ngFor="let product of relatedProducts; let i = index">
            <!-- Card -->
            <div class="">
              <div class="view zoom overlay z-depth-2 rounded">
                <img class="img-fluid fadeInUp  w-100"
                     style="max-height: 250px; height: 250px"
                     [src]="product.images[0]" alt="Sample">
                <a>
                  <div class="mask">
                    <img class="img-fluid w-100"
                         style="max-height: 250px; height: 250px"
                         [src]="product.images[0]">
                    <div class="mask rgba-black-slight"></div>
                  </div>
                </a>
              </div>
              <div class=" pt-4 text-center">
                <h4>{{product.name}}</h4>
                <p *ngIf="product.previousPrice">
                  <span>{{product.currentPrice}} $</span>
                  <span class="ml-5">
                    <del>20 $</del>
                  </span>
                </p>
                <p><strong [innerText]="product.inStock? 'In Stock': 'Out of Stock'"></strong></p>

                <button type="button" class="btn btn-primary  btn-sm mr-1 mb-2"><i
                  class="fas fa-shopping-cart pr-2"></i>Add to cart
                </button>
                <button (click)="backToTop(); helperService.productDetails(product)" type="button"
                        class="btn  btn-light btn-sm mr-1 mb-2"><i
                  class="fas fa-info-circle pr-2"></i>Details
                </button>
              </div>
              <hr class="my-2">
            </div>
            <!-- Card -->
          </div>
          <!-- Grid column -->


          <!-- Card -->

          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
    </mdb-card-body>
  </mdb-card>
</div>
